.theory-content-slide {
  .theory {
    .edu-animation-container {
      width: 100%;
      height: 100%;
      background-color: #e5e5e5;
      .error {
        position: absolute;
        top: 0;
        left: 8px;
        color: red;
        font-weight: bold;
        p {
          color: red;
          font-weight: normal;
          padding-left: 1vw;
        }
      }
    }
    .desc {
      pointer-events: none;
      margin-top: 1vh;
      .edu-text {
        font-size: 1.4em;
      }
      .progression {
        text-align: right;
        font-size: 4em;
        font-weight: bold;
      }
    }
  }
}
