html,
body, #root {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 100%;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: scale-up-center 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.next-btn {
    margin-top: 20px;
    background-color: black;
    padding: 10px 30px;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}