html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.2vw;
  background-color: black;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  overflow-y: hidden;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: scale-up-center 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.edu-btn {
    background-color: black;
    padding: 1vh 2vw;
    color: white;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
}
.edu-btn:hover {
  box-shadow: 0px 0px 0px 1px #000000;
}

.next-btn {
  @extend .edu-btn;
  margin-top: 2vh;
  float: right;
}