.course-page {
    font-size: 24px;
    width: 100vw;
    height: 100vh;

    .table-of-educontents {
        background-color: white;
        border-right: 4px solid #E5E5E5;
    }
    .detail-educontent {
        background-color: white;
        padding: 20px 50px;

        .title {
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
        }
        .slide-container {
            padding-top: 20px;
            overflow: hidden;
            height: 90%;
        }
    }
}